<div class="col-lg-4">
  <div class="panel panel-primary">
    <div class="panel-heading">
      Program Name
    </div>
    <div class="panel-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
    </div>
    <div class="panel-footer">
      <% if @favorites.include?(program) %>
        <i class="fa fa-star" aria-hidden="true"></i>
        Unfavorite
      <% elsif program.existing == false %>
        Approved | Votes: 100
      <% else %>
        <i class="fa fa-star-o" aria-hidden="true"></i>
        Click to Favorite
      <% end %>
    </div>
  </div>
</div>
