<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
            	<% @programs.each do |program| %>
	            	<div class="panel panel-primary">
								   <div class="panel-heading">
								        <%= program.loc_name %>
								   </div>
								   <div class="panel-body">
								       <p><%= program.description %></p>
								   	</div>
								    <div class="panel-footer">
								        Panel Footer
								    </div>
								  </div>
								<% end %>
            </div>
        </div>
    </div>
</div>