<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1>Submit Your After School Program Idea!</h1>
                <%= form_for @program, url: {action: 'create'} do |f| %>
                    <%= f.label   %>
            </div>
        </div>
    </div>
</div>