<div id="user_action_buttons">
  <a class="btn btn-block btn-social btn-bitbucket">
      <i class="fa fa-bitbucket"></i> Sign in
  </a>
  <a class="btn btn-block">
      <i class="fa fa-bitbucket"></i> Register
  </a>
</div>
