<div id="user_action_buttons">
  <a href="sessions/new" class="btn btn-block btn-social btn-bitbucket" id="sign-in-button">
      <i class="fa fa-bitbucket"></i> Sign in
  </a>
  <a href="#" class="btn btn-block" id="register-button">
      <i class="fa fa-bitbucket"></i> Register
  </a>
  <div id="login_or_register_form"></div>
</div>
