<ul class="nav" id="side-menu">
    <li>
        <a href="#"><i class="fa fa-dashboard fa-fw"></i> Program Dashboard</a>
    </li>
    <li>
        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Submit a Program</a>
    </li>
    <li>
        <a href="#"><i class="fa fa-table fa-fw"></i> Favorite Programs</a>
    </li>
    <li>
        <a href="#"><i class="fa fa-edit fa-fw"></i> Classmates</a>
    </li>
</ul>