<h3>Your Programs</h3>
<div class="row">
  <% programs[0..2].each do |program| %>
    <%= render partial: "programs/program_box", locals: { favorites: favorites, program: program } %>
  <% end %>
</div>
<a href="#">See all</a>

<h3>Your Favorite Programs</h3>
<div class="row">
  <% programs[0..2].each do |program| %>
    <%= render partial: "programs/program_box", locals: { favorites: @favorites, program: program } %>
  <% end %>
</div>
<a href="#">See all</a>

<h3>Programs Your Classmates are Attending</h3>
<div class="row">
  <% programs[0..2].each do |program| %>
    <%= render partial: "programs/program_box", locals: { favorites: favorites, program: program } %>
  <% end %>
</div>
<a href="#">See all</a>

<h3>Your Program Ideas</h3>
<div class="row">
  <% programs[0..2].each do |program| %>
    <%= render partial: "programs/program_box", locals: { favorites: favorites, program: program } %>
  <% end %>
</div>
<a href="#">See all</a>
