<h3>Programs Your Students Are Attending</h3>
<div class="row">
  <% programs[0..2].each do |program| %>
    <%= render partial: "programs/program_box", locals: { favorites: favorites, program: program } %>
  <% end %>
</div>

<h3>Programs Your Students Have Favorited</h3>
<div class="row">
  <% favorites[0..2].each do |program| %>
    <%= render partial: "programs/program_box", locals: { favorites: favorites, program: program } %>
  <% end %>
</div>


<h3>Programs Your Students have Suggested</h3>
<div class="row">
    <% submitted_programs[0..3].each do |program| %>
      <%= render partial: "programs/program_box", locals: { favorites: favorites, program: program } %>
    <% end %>
</div>
