<ul class="nav" id="side-menu">
  <li>
    <a href="/"><i class="fa fa-dashboard fa-fw"></i>Dashboard</a>
  </li>
  <li>
    <a href="/programs/"><i class="fa fa-bars fa-fw"></i>Programs</a>
  </li>
  <li>
    <a href="/users/students"><i class="fa fa-bar-chart-o fa-fw"></i>Students</a>
  </li>
  <li>
    <a href="/programs/submitted_programs"><i class="fa fa-table fa-fw"></i>Pending Student Submissions</a>
  </li>
  <li>
    <a href="/programs/submitted_programs/approved"><i class="fa fa-edit fa-fw"></i>Approved Student Submissions</a>
  </li>
</ul>
