<ul class="nav" id="side-menu">
    <li>
        <a href="/"><i class="fa fa-dashboard fa-fw"></i> Program Dashboard</a>
    </li>
    <li>
        <a href="/programs/"><i class="fa fa-bars fa-fw"></i> All Programs</a>
    </li>

    <li>
        <a href="/users/students"><i class="fa fa-bar-chart-o fa-fw"></i> My Students</a>
    </li>
    <li>
        <a href="/programs/submitted_programs"><i class="fa fa-table fa-fw"></i> Submitted Programs</a>
    </li>
    <li>
        <a href="#"><i class="fa fa-edit fa-fw"></i>Fund a Program</a>
    </li>
</ul>